<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Encuentros</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="public_folder/css/normalize.min.css">
	<link rel="stylesheet" href="public_folder/css/bootstrap.min.css">
	<link rel="stylesheet" href="public_folder/css/font-awesome.min.css">
	<link rel="stylesheet" href="public_folder/css/front.css">
	<link rel="stylesheet" href="public_folder/css/fonts.css">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="public_folder/js/vendor/modernizr-2.6.2.min.js"></script>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script>
		window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.0.min.js"><\/script>')
	</script>
	<style type="text/css">
	</style>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<div class="full-container aqua">
	<div class="row clearfix nomargin">
	
		<div class="container" id="topheader">
			<ul id="tabs"> 
				<li id="tab1"><a href="http://comunidadrh.dev/notas">Notas</a></li> 
				<li class="active" id="tab2"><a href="http://comunidadrh.dev/encuentros">Encuentros</a></li> 
			 </ul>
		</div>

    </div>
</div>

<!-- HEADER -->
<header class="container">
	<div class="row clearfix nomargin">
			<!-- LOGO -->
			<div class="col-md-4 col-xs-12 column">
				<div id="logo"><img src="public_folder/img/logoCRH.png" width="140" height="115">
				</div>
			</div>
			<!-- BANNER HEADER -->
			<div class="col-md-8 col-xs-12 column">
				<div id="header_adv"><img src="public_folder/img/banner_ad_728x90.jpg" alt="ad" class="img-responsive">
				</div>
			</div>
		</div>
	
	<div class="row clearfix nomargin" id="wrapp_main_menu">
		
		<!-- MAIN MENU -->
		<div class="col-md-9 col-xs-12 column" id="mainmenu">
			<ul id="menuNav" class="nav navbar-nav">
				<li><a class="active" href="http://comunidadrh.dev/">inicio</a>
				</li>
				<li><a href="#">informes</a>
				</li>
				<li><a href="#">casos</a>
				</li>
				<li><a href="#">negocios</a>
				</li>
				<li><a href="#">tendencias</a>
				</li>
				<li><a href="#">suplementos</a>
				</li>
				<li><a href="#">tecnologia</a>
				</li>
				<li><a href="#">videos</a>
				</li>
			</ul>
		</div>

		<!-- SEARCH HEADER -->
		<div class="col-md-3 col-xs-12 column">
			<form  role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
		</div>
		<div class="col-md-12 column"><div id="border_main_menu"></div></div>


	</div><!-- end wrapp_main_menu -->
</header>
<!-- END HEADER -->

<!-- MAIN CONTENT -->
<section class="container" id="fondoblanco">
	

	<div class="row clearfix nomargin">
		<div class="col-md-12">
			<h1>Encuentros</h1>
		</div>
		<div class="row clearfix nomargin">
			<div class="col-md-7 column">
				<!-- destacado principal -->
				<div class="jumbotron destacado clearfix">
					<div class="col-md-7 sm-12"></div>
					<div class="col-md-5 sm-12 column">
						<h2>Hello, world!</h1>
						<p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
					</div>
					
				</div>
			</div>
			<div class="col-md-5 column ">
					<!-- 3 destacados secundarios -->
				<div class="row box-evento no-margin no-gutters">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb">
						<a href="#"><img src="http://lorempixel.com/100/80/people/" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 excerpt">
						<h4><a href="#">Titulo evento 01</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac risus sed massa consequat commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac risus sed massa consequat commodo. </p>
					</div>
				</div>
				
				<div class="row box-evento no-margin no-gutters">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb">
						<a href="#"><img src="http://lorempixel.com/100/80/people/" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 excerpt">
						<h4><a href="#">Titulo evento 01</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac risus sed massa consequat commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac risus sed massa consequat commodo. </p>
					</div>
				</div>
				
				<div class="row box-evento no-margin no-gutters">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 thumb">
						<a href="#"><img src="http://lorempixel.com/100/80/people/" alt="" class="img-responsive">
						</a>
					</div>
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 excerpt">
						<h4><a href="#">Titulo evento 01</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac risus sed massa consequat commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac risus sed massa consequat commodo. </p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="row clearfix nomargin">
		<div class="col-md-2 column">
			<div class="list-group">
				<h3 style="margin-bottom:0px;">Filtrar por:</h3>
				<a href="#" class="list-group-item"><span class="badge">14</span>Help</a>
				<a href="#" class="list-group-item active"><span class="badge">14</span>Help</a>
				<a href="#" class="list-group-item"><span class="badge">14</span>Help</a>
				<a href="#" class="list-group-item"><span class="badge">14</span>Help</a>
				<a href="#" class="list-group-item"><span class="badge">14</span>Help</a>
				
			</div>
		</div>
		<div class="col-md-10 column listadoEventos">
			<div class="row">
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>

				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>
				
				<!-- thumbnail -->
				<div class="col-md-3 col-sm-4 col-xs-6 evento">
					<div class="thumbnail">
						<a href="#"><img alt="300x200" src="http://lorempixel.com/600/500/people/" /></a>
					</div>
					<h4>Recruiting: Take care not to</h4>
					<span class="place"><i class="fa fa-map-marker"></i> Argentina - Buenos Aires</span>
					<span class="date"><i class="fa fa-calendar"></i> 14/10/2014</span>
					<hr/>
				</div>



			</div><!-- end row -->
		</div>
	</div>	
</section>
<!-- END MAIN SECTION -->
<div class="full-container aqua">
		<footer class="row clearfix nomargin">
			<div class="container">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					<h4>Contacto</h4>
					<ul class="footer_menu">
						<li><a href="#">Sobre Comunidad RH</a>
						</li>
						<li><a href="#">Publicidad</a>
						</li>
						<li><a href="#">Publicar un evento</a>
						</li>
						<li><a href="#">Columnistas</a>
						</li>
						<li><a href="#">Sugerencias y comentarios</a>
						</li>
					</ul>
				</div>
				<!-- fin box -->
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					<h4>Acerca de Noticas</h4>
					<ul class="footer_menu">
						<li><a href="#">Noticias, notas y articulos de RH</a>
						</li>
						<li><a href="#">Videos</a>
						</li>
						<li><a href="#">Comunidad RH TV</a>
						</li>
						<li><a href="#">Eventos</a>
						</li>
					</ul>
				</div>
				<!-- fin box -->
				<div class="col-lg-3 col-md-3 col-sm-3"> </div>
				<!-- fin box -->
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" style="text-align:right;"> <img src="public_folder/img/logoCRH_FOOTER.png" alt="ad">
					<br>
					<br> <a style="color:white;" href="#">Privacy Policy</a> | <a style="color:white;" href="#">Terms of Service</a> </div>
				<!-- fin box -->
			</div>
			<!-- divisor -->
			<div class="container">
				<div class="col-lg-12">
					<div id="divisor"></div>
				</div>
			</div>
			<!-- social + suscribe -->
			<div class="container" id="social">
				<div class="col-md-3 col-sm-6">
					<h4>Suscribirse al Newsletter</h4>
					<!-- form suscribe -->
					<form role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Email" name="srch-term" id="srch-term">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-ok"></i>
								</button>
							</div>
						</div>
					</form>
					<!-- / form suscribe -->
				</div>
				<!-- fin box -->
				
				<!-- fin box -->
				<div class="col-md-7 col-sm-6"> </div>
				<!-- fin box -->
				<div class="col-md-2 col-sm-6">
					<ul id="sociales_footer">
						<li><a href="#" class="cube_social"><i class="fa fa-twitter "></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-facebook "></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-linkedin"></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-google-plus"></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-youtube"></i></a>
						</li>
					</ul>
				</div>
				<!-- fin box -->
			</div>
		</footer>
	</div>

</body>
</html>