<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Detalle Notas</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="public_folder/css/normalize.min.css">
	<link rel="stylesheet" href="public_folder/css/bootstrap.min.css">
	<link rel="stylesheet" href="public_folder/css/font-awesome.min.css">
	<link rel="stylesheet" href="public_folder/css/front.css">
	<link rel="stylesheet" href="public_folder/css/fonts.css">
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script src="public_folder/js/vendor/modernizr-2.6.2.min.js"></script>
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
	<script>
		window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.0.min.js"><\/script>')
	</script>
	<style type="text/css">
	</style>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<div class="full-container aqua">
	<div class="row clearfix nomargin">
	
		<div class="container" id="topheader">
			<ul id="tabs"> 
				<li id="tab1"><a href="http://comunidadrh.dev/notas">Notas</a></li> 
				<li class="active" id="tab2"><a href="http://comunidadrh.dev/encuentros">Encuentros</a></li> 
			 </ul>
		</div>

    </div>
</div>

<!-- HEADER -->
<header class="container">
	<div class="row clearfix nomargin">
			<!-- LOGO -->
			<div class="col-md-4 col-xs-12 column">
				<div id="logo"><img src="public_folder/img/logoCRH.png" width="140" height="115">
				</div>
			</div>
			<!-- BANNER HEADER -->
			<div class="col-md-8 col-xs-12 column hidden-sm hidden-xs">
				<div id="header_adv"><img src="public_folder/img/banner_ad_728x90.jpg" alt="ad" class="img-responsive">
				</div>
			</div>
		</div>
	
	<div class="row clearfix nomargin" id="wrapp_main_menu">
		
		<!-- MAIN MENU -->
		<div class="col-md-9 col-xs-12 column" id="mainmenu">
			<ul id="menuNav" class="nav navbar-nav">
				<li><a class="active" href="http://comunidadrh.dev/">inicio</a>
				</li>
				<li><a href="#">informes</a>
				</li>
				<li><a href="#">casos</a>
				</li>
				<li><a href="#">negocios</a>
				</li>
				<li><a href="#">tendencias</a>
				</li>
				<li><a href="#">suplementos</a>
				</li>
				<li><a href="#">tecnologia</a>
				</li>
				<li><a href="#">videos</a>
				</li>
			</ul>
		</div>

		<!-- SEARCH HEADER -->
		<div class="col-md-3 col-xs-12 column">
			<form  role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
		</div>
		<div class="col-md-12 column"><div id="border_main_menu"></div></div>


	</div><!-- end wrapp_main_menu -->
</header>
<!-- END HEADER -->

<!-- MAIN CONTENT -->
<section class="container" id="fondoblanco">

	<article class="row clearfix nomargin">
		<div class="col-lg-9 col-md-9">
			<section class="nota">
				<header>
					<h1>Congreso internacional de RRHH 2014</h1>
				</header>
				<figure class="image">
					<img src="http://lorempixel.com/1000/600/city/9" alt="Imagen" class="img-responsive"/>
				</figure>
				<footer>
					<figure class="profile">
						<img src="public_folder/img/guestIcon.jpg" alt="Profile"/>
					</figure>
					<div class="info">
						<p>Matt Cynamon</p>
						<i>11 June 2014, 10:55pm</i>
					</div>
					<ul class="share">
						<li><a href="#" class="btnSocial fb"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="btnSocial tw"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="btnSocial gplus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="btnSocial in"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</footer>
				<article class="cuerpo">
					<p>Recruiting staff isn’t an easy process for any company, no matter how big or
					small. There’s a huge checklist of criteria that needs ticking off to ensure
					you hire the right person, with the relevant skills, for your organization.</p>
					<p>When speaking with founders and CEOs of tech startups, we’re never surprised when 
					conversation circles back to the fact that hiring the right personnel is one of 
					the toughest problems they face today.</p>
					<p>In a time when there’s a clear digital 
					skills gap, it’s no wonder startups find it challenging to recruit the right 
					staff, and with precious budgets to think about, it’s important they hire the 
					most suitable candidate and not just the first person with seemingly relevant 
					skills.So what do startups need to do during the recruitment process to ensure
					they land the person that’s right for them?</p>
						
					<h2>Phone a friend and utilize your network</h2>
					<p>Picking up the phone and contacting former colleagues, friends in the industry
					or networking buddies could save you a lot of time, money and effort when recruiting.
					The names on your Rolodex will already have an understanding of your business, and
					may point you in the direction of someone ideal for your company – it might even be them!</p>
					
					<p>Be sure to attend industry events and network as often as possible because you
					never know when you might come across the talent that’s a perfect fit for your 
					startup. Attending, Meetup and Lanyard are good starting places to find events 
					and meetups that are right for you.</p>
					
					<h2>Phone a friend and utilize your network</h2>
					<p>Picking up the phone and contacting former colleagues, friends in the industry
					or networking buddies could save you a lot of time, money and effort when recruiting.
					The names on your Rolodex will already have an understanding of your business, and
					may point you in the direction of someone ideal for your company – it might even be them!</p>
					
					<p>Be sure to attend industry events and network as often as possible because you
					never know when you might come across the talent that’s a perfect fit for your 
					startup. Attending, Meetup and Lanyard are good starting places to find events 
					and meetups that are right for you.</p>
				</article>
				
			</section>
			<section class="row clearfix nomargin" id="otrasNotas">
				<h3>Otras notas del autor</h3>
				<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<figure class="thumbnail">
						<a href="#"><img src="http://lorempixel.com/300/200/city/1" alt="Imagen" class="img-responsive" /></a>
					</figure>
					<div class="desc">
						<p>Body language: 7 signs a job candidate’s lying to you</p>
					</div>
				</article>
			</section>
			
		</div>
		<aside class="col-md-3 column clear">
			<section class="row nomargin no-gutters">
				<div id="sidebar_adv" class="col-lg-12 col-md-12 hidden-sm hidden-xs">
					<img src="public_folder/img/banner_ad_sidebar.jpg" alt="ad" class="img-responsive">
				</div>
			</section>
			<h3>Encuestas</h3>
			<section class="encuestas" id="encuesta">
				<i>Teniendo en cuenta el contenido, te gustó la nota?</i>
				<form class="quiz">
				<div class="option clearfix">
					<span class="radioButton"><input type="radio" name="like" value="si"/></span>
					<span class="data">
						<p>Si</p>
						<small>(79.18% - 194 Votos)</small>
						<div class="graphicBar">
							<div class="bar" style="width:80%;"></div>
						</div>
					</span>
				</div>
				<div class="option clearfix">
					<span class="radioButton"><input type="radio" name="like" value="no"/></span>
					<span class="data">
						<p>No</p>
						<small>(20.82% - 51 Votos)</small>
						<div class="graphicBar">
							<div class="bar" style="width:20%;"></div>
						</div>
					</span>
				</div>
				</form>
			</section>
			<h3>Notas Relacionadas</h3>
			<section>
				<div class="media">
					<!-- inicio box opinion -->
					<a class="pull-left" href="#">
						<div class="cube-img"> <img src="public_folder/img/opinion_1.jpg" alt=""> </div>
					</a>
					<div class="media-body">
						<p>NLRB: Employees can have their protest – and free BBQ, too</p>
					</div>
				</div>
				<div class="media">
					<!-- inicio box opinion -->
					<a class="pull-left" href="#">
						<div class="cube-img"> <img src="public_folder/img/opinion_1.jpg" alt=""> </div>
					</a>
					<div class="media-body">
						<p>NLRB: Employees can have their protest – and free BBQ, too</p>
					</div>
				</div>
				<div class="media">
					<!-- inicio box opinion -->
					<a class="pull-left" href="#">
						<div class="cube-img"> <img src="public_folder/img/opinion_1.jpg" alt=""> </div>
					</a>
					<div class="media-body">
						<p>NLRB: Employees can have their protest – and free BBQ, too</p>
					</div>
				</div>
				
			</section>
		</aside>
	</article>
	
</section>
<!-- END MAIN SECTION -->
<div class="full-container aqua">
		<footer class="row clearfix nomargin">
			<div class="container">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					<h4>Contacto</h4>
					<ul class="footer_menu">
						<li><a href="#">Sobre Comunidad RH</a>
						</li>
						<li><a href="#">Publicidad</a>
						</li>
						<li><a href="#">Publicar un evento</a>
						</li>
						<li><a href="#">Columnistas</a>
						</li>
						<li><a href="#">Sugerencias y comentarios</a>
						</li>
					</ul>
				</div>
				<!-- fin box -->
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
					<h4>Acerca de Noticas</h4>
					<ul class="footer_menu">
						<li><a href="#">Noticias, notas y articulos de RH</a>
						</li>
						<li><a href="#">Videos</a>
						</li>
						<li><a href="#">Comunidad RH TV</a>
						</li>
						<li><a href="#">Eventos</a>
						</li>
					</ul>
				</div>
				<!-- fin box -->
				<div class="col-lg-3 col-md-3 col-sm-3"> </div>
				<!-- fin box -->
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" style="text-align:right;"> <img src="public_folder/img/logoCRH_FOOTER.png" alt="ad">
					<br>
					<br> <a style="color:white;" href="#">Privacy Policy</a> | <a style="color:white;" href="#">Terms of Service</a> </div>
				<!-- fin box -->
			</div>
			<!-- divisor -->
			<div class="container">
				<div class="col-lg-12">
					<div id="divisor"></div>
				</div>
			</div>
			<!-- social + suscribe -->
			<div class="container" id="social">
				<div class="col-md-3 col-sm-6">
					<h4>Suscribirse al Newsletter</h4>
					<!-- form suscribe -->
					<form role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Email" name="srch-term" id="srch-term">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-ok"></i>
								</button>
							</div>
						</div>
					</form>
					<!-- / form suscribe -->
				</div>
				<!-- fin box -->
				
				<!-- fin box -->
				<div class="col-md-7 col-sm-6"> </div>
				<!-- fin box -->
				<div class="col-md-2 col-sm-6">
					<ul id="sociales_footer">
						<li><a href="#" class="cube_social"><i class="fa fa-twitter "></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-facebook "></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-linkedin"></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-google-plus"></i></a>
						</li>
						<li><a href="#" class="cube_social"><i class="fa fa-youtube"></i></a>
						</li>
					</ul>
				</div>
				<!-- fin box -->
			</div>
		</footer>
	</div>

</body>
</html>